.result-heading{
    background-color:#8c98ac;
    margin-top: 20px;
    padding:25px;
    padding-bottom: 25px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}


.result-category{
    padding:15px;
    padding-top: 25px;
    font-size: 20px;
    border: 1px solid #ddd;
    
}

.result-content{
    padding:20px;
    border: 1px solid #ddd;
}

.applied{
    color:gray;
}

.rejected{
    color:  rgb(231, 16, 16);
}

.selected{
    color: rgb(5, 177, 5);
}

.in-review{
    color: goldenrod;
}






