.footer{
    background-color: #0f4c75;
    color: floralwhite;
    margin-top: 12px;
    z-index: 1;
    padding: 0;
    font-family: 'Roboto' ;
    font-style: normal;
    font-weight: lighter;
    position: relative;
    visibility:visible;
    top: 5px;
}
.footer-fixed{
    background-color: #0f4c75;
    color: floralwhite;
    z-index: 1;
    padding: 0;
    font-family: 'Roboto' ;
    font-style: normal;
    font-weight: lighter;
    position: fixed;
    bottom: 0;
}

.bottomLink{
    color: rgba(245, 245, 245, 0.685);
}

.bottomLink:hover{
    color: rgb(245, 245, 245);
    
}

.hr1{
    height:2px;
    border-width:0;
    color:floralwhite;
    background-color:floralwhite;
    width: 46%;
    margin-left: 0;
    
}

.hr2{
    height:2px;
    border-width:0;
    color:floralwhite;
    background-color:floralwhite;
    width: 88%;
    margin-left: 0;
    margin-top: -12px;
}