.verify-modal{
    background-color: white;
    border-radius: 10px;
    width: 50vw;
    height: 85vh;
    position: relative;
    z-index: 1;
    box-shadow:
    0 0 60px 3000px rgba(0, 0, 0, 0.384),  
    0 0 100px 6000px rgba(0, 0, 0, 0.384), 
    0 0 140px 9000px rgba(0, 0, 0, 0.384);

    padding: 20px;
}

.doc-alert-modal{
    background-color: white;
    border-radius: 10px;
    /* width: 50vw;
    height: 20vh; */
    position: relative;
    z-index: 1;
    box-shadow:
    0 0 60px 3000px rgba(0, 0, 0, 0.384),  
    0 0 100px 6000px rgba(0, 0, 0, 0.384), 
    0 0 140px 9000px rgba(0, 0, 0, 0.384);
    padding: 10px;
}

.alert-heading{
    padding: 10px 30px;
    margin: 0;
}
.upload-btn{
    color: white;
}
.upload-btn:hover{
    color: white;
}

.doc-status{
    color : #0f4c75;
    cursor: pointer;
}

.doc-status:hover{
    color : #0f4c75;
    cursor: pointer;
}

.form-control{
    resize: none;
    height:300px;
}

.apply-btn{
    background-color:#0f4c75;
    color: white;
    text-align: center;
    height: 40px;
    width: 100px;
    padding-top: 7px;
    cursor: pointer;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}