.navItem{
    width: 24px;
    background-color: transparent;
    margin-right:15px;
    margin-left:25px; 
}

.navItem :hover{
    width: 28px;
    transition: 0.3s;
    cursor: pointer;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 1;

}
.dropdown-menu {
    /* border: 0.1px solid; */
    height: 400px;
    overflow-y: scroll;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 5px 40px rgba(146, 145, 145, 0.678);
  }

  .dropdown-toggle::after{
      content: none;
  }
  .dropdown-menu :hover{
      background-color:lightblue;
  }
