.navItem{
    width: 24px;
    background-color: transparent;
    margin-right:15px;
    margin-left:25px; 
}

.navItem :hover{
    width: 28px;
    transition: 0.3s;
    cursor: pointer;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 1;

}
.dropdown-menu {
    background-color: #f1f6f9;
    height: 400px;
    overflow-y: scroll;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .dropdown-menu :hover{
      background-color:lightblue;
  }
