.sidnav{
    position: sticky;
    left: 0;
    z-index: 0;
    padding-right: 0.2px;
    /* padding-left: 30px; */
    background-color: #3282b8;
}
.sideNavLink{
    padding:0px;
    font-family: 'Roboto' ;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    text-decoration: none;
    background-color: #bbe1fa;
    color: white;
    /* identical to box height */
    /* color: white; */
    }
    
    .sideNavLinkSeparate{
        width:100%;
        margin:0px;
        height:100%;
        padding:13px;
        text-decoration: none !important;
        background-color:#3282b8;
        color:white;
        }
    
    /*.box{
    position: absolute;
    width: 10px;
    height: 10px;
    background: #0A84B9;
    border-radius: 1px;
     }
     */
    
    .sideNavLink{
        width:100%;
        margin:4px 0px 4px;
        height:100%;
        text-decoration: none !important;
        line-height: 4rem;
        background-color:#3282b8;
        color:white;
    }
    
    .sideNavLink :hover{
        background-color: #bbe1fa60;
        color:#3282b8 ;
        text-decoration: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
    a {
        color: #3282b8 ;
      }
      a:hover {
        text-decoration: none;
      }