.profile-image{
    height: 110px;
    width: 110px;
    background-color:white;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.card-body{
    position: relative;
    bottom: 80px;
}
.card{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    bottom: 10px;
}
.card-top{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.student-details{
    margin: 8px;
    
}

.others{
    color: gray;
    font-size: 18px;
    margin: 5px;
}

.profile-section{
    padding: 40px 75px 20px;
}

.profile-card{
    /* background-color: white; */
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    min-height: 76vh;
    margin-right: 0;
}

.id-section{
    padding: 20px 10px;
}

.documents{
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
}

.edit-profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.edit-profile{
    text-decoration: none;
    color: black;
    cursor:pointer;
}